@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color:red;
    --secondary-color:black;
}

body {
    background: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    padding: 16px;
    display: flex;
    justify-content: flex-end;
    background: var(--secondary-color);
}

.search {
    background: transparent;
    border: 2px solid var(--primary-color);
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 16px;
    color: #fff;
    font-family: inherit;
}

.search:focus {
    outline: 0;
    background-color: var(--primary-color);
}

.search::placeholder {
    color: #b63913;
}

#tags {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag {
    color: #fff;
    padding: 10px 20px;
    background: orange;
    border-radius: 50px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}

.tag.see {
    background: #A8EB12;
}

.error {
    color: #fff;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 300px;
    margin: 16px;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    background: var(--secondary-color);
    position: relative;
    overflow: hidden;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px 16px;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin-top: 0;
}

.movie-info span {
    background: #fff;
    padding: 4px 8px;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green {
    color: green;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    padding: 16px;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.5s ease-in;
}

.movie:hover .overview {
    transform: translateY(0);
}